.layout-main {
  transition: padding-left 0.3s ease;
  background-color: #fafafa;
  min-height: 100vh;
}

.layout-main--expanded {
  padding-left: 240px;

  @media (max-width: 768px) {
    padding-left: 0;
  }
}

.layout-main--collapsed {
  padding-left: 70px;

  @media (max-width: 768px) {
    padding-left: 0;
  }
}

.layout-main__content {
  padding: 7rem 1.5rem 2rem;

  @media (min-width: 769px) {
    padding: 8rem 2rem 2rem;
  }

  @media (max-width: 480px) {
    padding: 6.5rem 1rem 1.5rem;
  }
}