.loadingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.spinner {
  animation: spin 1s linear infinite;
  height: 1.5rem;
  width: 1.5rem;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo {
  margin-top: 1rem;
  max-width: 20rem;
  max-height: 4rem;
}

.message {
  display: inline-block;
  margin-top: 1rem;
  font-weight: 500;
  font-size: 0.875rem;
}

.circle {
  opacity: 0.25;
}

.path {
  opacity: 0.75;
}